body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-default {
  background: #81BF1C;
  background: -moz-linear-gradient(#81BF1C, #5B8D13);
  background: -webkit-linear-gradient(#81BF1C, #5B8D13);
  background: -o-linear-gradient(#81BF1C, #5B8D13);
  background: -ms-linear-gradient(#81BF1C, #5B8D13); /*For IE10*/
  background: linear-gradient(#81BF1C, #5B8D13);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#81BF1C', endColorstr='#5B8D13');
  /*For IE7-8-9*/
  height: 1%; /*For IE7*/
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font: bold 14px arial
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background: #81BF1C;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
  {
  color: #fff;
  background: #5B8D13;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#5B8D13', endColorstr='#5B8D13');
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
  {
  color: #fff;
  background: #81BF1C;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#81BF1C', endColorstr='#81BF1C');
}

.dropdown-menu {
  background: #5B8D13;
  border: none;
}

.dropdown-menu>li>a {
  color: #fff;
  font: bold 14px arial;
  background: #5B8D13;
  border: none;
}

.dropdown-menu>li>a:hover {
  color: #fff;
  background: #81BF1C;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#81BF1C', endColorstr='#81BF1C');
}

.panel-green>.panel-heading {
  background: #81BF1C;
  background: -moz-linear-gradient(#81BF1C, #5B8D13);
  background: -webkit-linear-gradient(#81BF1C, #5B8D13);
  background: -o-linear-gradient(#81BF1C, #5B8D13);
  background: -ms-linear-gradient(#81BF1C, #5B8D13); /*For IE10*/
  background: linear-gradient(#81BF1C, #5B8D13);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#81BF1C', endColorstr='#5B8D13');
  /*For IE7-8-9*/
  color: #fff;
  font: bold 14px arial
}

.message {
  word-wrap: break-word;
  padding: 15px;
}

.home-post>h3 {
  border-bottom: 1px solid #a7a7a7;
  color: #316599;
}

div.post-content {
  background: none repeat scroll 0 0 #000000;
  opacity: 0.5;
  margin: 0 auto;
  margin-bottom: -25%;
  text-align: center position: relative;
  width: 40%;
  color: #FFFFFF !important;
}

.thumbnail {
  margin: 0 auto;
  text-align: center;
}

.thumbnail a>img {
  margin: 0 auto;
  text-align: center;
  height: 200px;
  overflow: auto;
}

.thumbnail a>p {
  margin: 0 auto;
  text-align: center;
  height: 25px;
  overflow: hidden;
}

.wrapper {
  text-align: center;
}

#searchclear {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0px;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.vbottom {
  display: inline-block;
  vertical-align: bottom;
  float: none;
}

#newsPanel {
  margin-top: 10px;
  margin-bottom: 8px;
}

.green-text {
  color: #5B8D13;
}

.col-centered{
    float: none;
    margin: 0 auto;
}